@import "tailwindcss";

@theme {
  --color-back-primary: #09090B;
  --color-back-secondary: #99A1AF;
  --color-color-primary: #999BAF;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000;
  color: #ffffffcc;
}

.container {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, #282828, #000, #2b1565);
}

@keyframes chessonAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titleChesson {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  opacity: 1;
  animation: chessonAnimation 3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes containerTitleAnimation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.containerTitle {
  /* transform: translateY(-100px); */
  animation: containerTitleAnimation 2s .1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes comingSoonAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: .8;
    transform: translateY(-60px);
  }
}

.containerComingSoon {
  opacity: 0;
  display: flex;
  gap: 10px;
  padding: 10px;
  animation: comingSoonAnimation 3s 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.chessImage {
  width: 30px;
  height: 30px;
}