---
import Layout from "../layouts/Layout.astro";
import { Chessboard3D } from "../components/Chessboard3D";
---

<Layout 
	lang="en" 
	title="Online Chess — play for free with friends"
	description="Create a room in seconds and start a game without registration"
	canonicalUrl="https://chesson.me/"
	ogImage="https://chesson.me/og.png"
	locale="en_US"
>
	<div class="relative w-full h-screen bg-black text-white overflow-hidden">
		<header class="absolute top-0 left-0 right-0 z-10 p-9">
			<nav class="flex justify-between items-center max-w-6xl mx-auto">
				<div class="flex items-center">
					<img src="/chesson-logo.svg" alt="Chesson Logo" />
				</div>
			</nav>
		</header>
		<div
			class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 text-center"
		>
			<h1 class="font-bold mb-8 max-w-4xl mx-auto text-3xl sm:text-4xl md:text-5xl lg:text-7xl">
				Online Chess — <br> play for free with friends
			</h1>
			<h2 class="mb-10 font-normal text-xl sm:text-2xl md:text-3xl lg:text-4xl">
				Create a room in seconds and start a game without registration
			</h2>
			<a
				href="https://game.chesson.me/"
				class="bg-white text-black font-bold py-3 px-6 rounded-md hover:bg-gray-200 transition duration-300 text-lg cursor-pointer"
			>
				Create Room
			</a>
		</div>
		<Chessboard3D client:only />
		<div class="absolute left-0 bottom-[40px] right-0">
			<p class="text-center text-xm opacity-70">v0.2.0</p>
		</div>
	</div>
</Layout>
