.historyMovesContainer {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.historyMovesContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

